body
{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #F1F6FF;
}
.Top
{
    background-color: #1676FF;
    text-align: right;
    height: 70px;
}
li a 
{
    display: block;
    width: 200px;
    height: 55px;
    margin-left: 20px;
}
.Imge{
    position: absolute;
    left: 80.9%;
    right: 2.43%;
    top: 13px;
    bottom: 17.14%;

}
.Img-N{
    position: absolute;
    width: 18.97px;
    height: 22px;
    right: 23%;
    top: 24px;

}
.Img-line{
    position: absolute;
    right: 26.5%;

}
.Img-line-2{
    position: absolute;
    right: 20.8%;
}
.nav-text
{
    color: #7D86A9;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 17px;
}
.nav-text-main
{
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #202020;
    margin-left: 17px;  
}
a img
{
    margin-top: -4px;
}
.rectangle
{
    position: absolute;
    width: 100%;
    height: 887px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
}
.nav-item
{
    z-index: 1;
}
.nav-1
{
    margin-top: 40px;
}
.Icon{
    position: absolute;
    width: 27px;
    height: 25px;
    left: 4.2%;
    top: 44px;
}
.Al-Text{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    color: #202020;
    font-size: 35px;
    left: 8.5%;
    top: 31px;
}
.Al-Text-2{
    position: absolute;
    color: #7D86A9;
    font-size: 14px;
    left: 4.2%;
    top: 78px;
}
.Btn{
    position: absolute;
    color: #FFFFFF;
    font-size: 18px;
    right: 3.5%;
    border-radius: 20px;
    top: 33px;
    padding-left: 49.67px;
    padding-right: 28.33px;
    padding-bottom: 10px;
    padding-top: 9px;
}
.Org{
    position: absolute;
    top: 16.5px;
    left: 20%;
}
.Icono{
    position: absolute;
    left: 85%;    
}
#Text-1{
    position: absolute;
    background-color: #FFFFFF;
    color: #7D86A9;
    padding-left: 10px;
    padding-right: 28px;
    padding-top: 17px;
    padding-bottom: 16px;
    font-size: 10px;
    left: 4%;
    top: 31.5%;
}
#Text-2{
    position: absolute;
    background-color: #FFFFFF;
    color: #7D86A9;
    padding-left: 10px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 11px;
    font-size: 16px;
    left: 20.5%;
    top: 31.5%;
}